#sidebar{
    background-color: grey;
    width: 250px;
    height: calc(100vh - 65px);
    padding: 5px 10px;
    nav{
        ul{
            li{
                list-style-type: none;
                a{
                    text-decoration: none;
                }
            }
        }
    }
}