@import "Global.scss";

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #f0f0f0;
}

.c-wrapper {
  margin: 0 auto;
}

/* Common xs1, xs2 mobil*/
@media all and (max-width: #{($mq-sm1 - 1) + "px"}) {
  .c-wrapper {
    width: $c-wrapper-xs;
  }
}

/* Common sm1, sm2 tablet */
@media all and (min-width: #{($mq-sm1) + "px"}) and (max-width: #{($mq-md - 1) + "px"}) {
  .c-wrapper {
    width: $c-wrapper-sm;
  }
}

@media all and (min-width: #{$mq-md + "px"}) {
  .c-wrapper {
    width: $c-wrapper-md;
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .modal-content {
    background-color: #f0f0f0;
    z-index: 2;
    min-width: 60%;
    min-height: 60%;
    overflow-y: auto;
    overflow-x: hidden;
    background: #ffff;
    border: 1px solid red;
    border-radius: 32px;
    padding: 48px;
    .header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        height: 48px;
      a {
        font-size: 28px;
      }
    }
    .body {
    }
  }
}
