@import "../../Base/Global.scss";
@import "../../Base/Colour.scss";


#header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: aqua;
    height: 65px;
    .hamburger-button{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 40px;
        height: 40px;
        margin-right: 25px;
        cursor: pointer;
        span{
            width: 25px;
            height: 5px;
            background-color: black;
            border: 1px solid rgba($color: #ffffff, $alpha: 0.8);
            margin-bottom: 2px;
        }
    }
    .navbar-brand{
        display: flex;
            flex-direction: row;
        a{
            color: green;
            text-decoration: none;
            margin-right: 10px;
        }
        nav{
            
            
            ul{
                display: flex;
            flex-direction: row;
                li{
                    list-style-type: none;
                    a{
                        text-decoration: none;
            margin-right: 10px;

                    }
                }
            }
        }
    }
}

#layout{
    
    .wrapper{

        .main-wrapper{
            display: flex;
            main{
                flex: 1;
                overflow-y: auto;
                height: calc(100vh - 65px);
            }
        }
    }

}